
body {
  background-color: #352343;
  font-family: 'Texturina';
}

.indexContainer {
  background-color: #352343;
  font-family: 'Texturina';
  padding-top: 30px;
  padding-bottom: 50px;
}

.tableContainer {
  width: 80vw;
  background-color: #FBE7B1;
  color: black;
  border: 5px solid #955E42;
  border-radius: 6px;
  padding: 15px 10px 10px 15px;
}

.createContainer {
  margin-top: 30px;
  width: 80vw;
  background-color: #FBE7B1;
  color: black;
  border: 5px solid #955E42;
  border-radius: 6px;
  padding: 15px 10px 10px 15px;
}

.createContainer Button {
  margin-right: 10px;
  color: black;
  background-color: #FEF9EC;
  border: none;
}

.createContainer Button:hover {
  background-color: #955E42;
  color: #FEF9EC;
}

hr {
  color: black;
}

.editBtn {
  margin-top: 3px;
  margin-right: 5px;
  width: 75px;
  background-color: #955E42;
  border: 1px solid #955E42;
  color: white;
}

.editBtn:hover {
  border: 1px solid #352343;
  background-color: #955E42;
  color: white
}

.deleteBtn {
  margin-top: 3px;
  margin-right: 5px;
  width: 75px;
  border: 1px solid #352343;
  background-color: #352343;
  color: white;
}

.deleteBtn:hover {
  border: 1px solid #955E42;
  background-color: #352343;
  color: white;
}

.signupErrors{
  color: rgb(148, 31, 31);
  border: 2px solid rgb(105, 21, 21);
  font-size: 1.5em;
}